In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ["Nishant", "Rahul", "Rohan", "Mohit"],
    "roll" : [23,53,14,99],
    "city" : ["Agra", "Mathura", "Delhi", "Jaipur"]
}

In [3]:
dict1

{'name': ['Nishant', 'Rahul', 'Rohan', 'Mohit'],
 'roll': [23, 53, 14, 99],
 'city': ['Agra', 'Mathura', 'Delhi', 'Jaipur']}

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

      name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Delhi
3    Mohit    99   Jaipur

In [6]:
df.head(2)

      name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura

In [7]:
df.tail(3)

    name  roll     city
1  Rahul    53  Mathura
2  Rohan    14    Delhi
3  Mohit    99   Jaipur

In [8]:
df.size

12

In [9]:
df.shape

(4, 3)

In [10]:
df.dtypes

name    object
roll     int64
city    object
dtype: object

In [11]:
df.to_csv("Hello.xlsx", index = False)

In [12]:
df

      name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Delhi
3    Mohit    99   Jaipur

In [13]:
df

      name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Delhi
3    Mohit    99   Jaipur

In [14]:
df.describe

<bound method NDFrame.describe of       name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Delhi
3    Mohit    99   Jaipur>

In [15]:
df.describe()

           roll
count   4.00000
mean   47.25000
std    38.31775
min    14.00000
25%    20.75000
50%    38.00000
75%    64.50000
max    99.00000

In [16]:
df.count

<bound method DataFrame.count of       name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Delhi
3    Mohit    99   Jaipur>

In [17]:
df.count()

name    4
roll    4
city    4
dtype: int64

In [18]:
df.count()

name    4
roll    4
city    4
dtype: int64

In [19]:
df.min()

name    Mohit
roll       14
city     Agra
dtype: object

In [20]:
df.max()

name      Rohan
roll         99
city    Mathura
dtype: object

In [21]:
df.std

<bound method DataFrame.std of       name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Delhi
3    Mohit    99   Jaipur>

In [22]:
df["name"]

0    Nishant
1      Rahul
2      Rohan
3      Mohit
Name: name, dtype: object

In [23]:
df["city"]

0       Agra
1    Mathura
2      Delhi
3     Jaipur
Name: city, dtype: object

In [24]:
df["city"][0]

'Agra'

In [25]:
df["city"][2] = "Noida"

C:\Users\Nishant Badhautiya\AppData\Local\Temp\ipykernel_12076\644706940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["city"][2] = "Noida"

In [26]:
df

      name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Noida
3    Mohit    99   Jaipur

In [27]:
df

      name  roll     city
0  Nishant    23     Agra
1    Rahul    53  Mathura
2    Rohan    14    Noida
3    Mohit    99   Jaipur

In [28]:
df.index = ["First", "Second", "Third", "Fourth"]

In [29]:
df

           name  roll     city
First   Nishant    23     Agra
Second    Rahul    53  Mathura
Third     Rohan    14    Noida
Fourth    Mohit    99   Jaipur

In [30]:
df

           name  roll     city
First   Nishant    23     Agra
Second    Rahul    53  Mathura
Third     Rohan    14    Noida
Fourth    Mohit    99   Jaipur

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
np.random.rand(34)

array([0.07073037, 0.94727442, 0.68353247, 0.67354884, 0.86894997,
       0.06346361, 0.12914853, 0.19050733, 0.39443064, 0.89238829,
       0.93292149, 0.37808792, 0.44493872, 0.34854262, 0.61470808,
       0.20240636, 0.93731079, 0.45910543, 0.74999969, 0.42180799,
       0.4864045 , 0.63605601, 0.36618731, 0.44662135, 0.88154437,
       0.14623187, 0.99355544, 0.87513064, 0.01641882, 0.95583741,
       0.51930187, 0.11150795, 0.60908531, 0.36583238])

In [33]:
np.random.rand(12)

array([0.46786335, 0.66652333, 0.05419802, 0.90459642, 0.84436601,
       0.18725839, 0.38892329, 0.10806285, 0.71455601, 0.85894522,
       0.17510149, 0.95352465])

In [34]:
ser = pd.Series(np.random.rand(34))

In [35]:
ser

0     0.644508
1     0.127828
2     0.392503
3     0.554635
4     0.200511
5     0.366909
6     0.024369
7     0.405524
8     0.712284
9     0.544131
10    0.356802
11    0.282389
12    0.705477
13    0.934462
14    0.340982
15    0.957206
16    0.151206
17    0.413872
18    0.650601
19    0.893736
20    0.452892
21    0.819346
22    0.847492
23    0.328923
24    0.554025
25    0.591033
26    0.594535
27    0.989870
28    0.119860
29    0.038065
30    0.262359
31    0.959662
32    0.054334
33    0.174019
dtype: float64

In [36]:
print(type(ser))

<class 'pandas.core.series.Series'>

In [37]:
type(ser)

pandas.core.series.Series

In [38]:
np.random.rand(12,5)

array([[0.43699029, 0.03221366, 0.53270464, 0.2347009 , 0.35612768],
       [0.42172832, 0.48173781, 0.89156584, 0.85868331, 0.41293049],
       [0.22268779, 0.6039381 , 0.21689867, 0.98363125, 0.39530018],
       [0.51451425, 0.81328058, 0.29662204, 0.37477392, 0.17506895],
       [0.73728298, 0.64609197, 0.80552768, 0.42336221, 0.66642987],
       [0.38773161, 0.0219265 , 0.09788003, 0.30860191, 0.27649852],
       [0.75113044, 0.42033845, 0.72207152, 0.15671034, 0.08356998],
       [0.84718153, 0.50557617, 0.9488897 , 0.97709306, 0.08097645],
       [0.74637363, 0.50171325, 0.17043906, 0.21559994, 0.67227963],
       [0.85040686, 0.84751414, 0.52886107, 0.89302061, 0.26769205],
       [0.36619365, 0.87323635, 0.85148467, 0.09517233, 0.68115441],
       [0.59928137, 0.09727964, 0.40924859, 0.62874454, 0.38493947]])

In [39]:
np.random.rand(34,22)

array([[5.49741353e-01, 8.12167290e-01, 8.77640770e-01, 6.52266235e-01,
        4.44580508e-01, 6.36552798e-01, 5.05391868e-01, 6.72910674e-01,
        1.88131386e-01, 9.89218578e-01, 8.70642612e-01, 4.46098677e-01,
        8.14078278e-01, 3.82681419e-01, 6.22088263e-01, 4.22481094e-01,
        5.69592528e-01, 1.41377045e-01, 1.90910244e-01, 6.08330217e-02,
        8.21841523e-01, 7.68585184e-01],
       [7.93605820e-01, 5.64778406e-02, 4.29346544e-01, 3.79611492e-01,
        5.10336180e-01, 5.16678909e-01, 2.05660621e-01, 7.27406319e-01,
        6.81872760e-01, 2.98604920e-01, 5.08174130e-01, 1.68105300e-01,
        7.54643480e-01, 5.16786545e-01, 5.21814562e-01, 1.48885443e-01,
        4.37303456e-01, 9.88704719e-02, 7.06531703e-01, 7.56424792e-01,
        2.65275918e-01, 7.82676307e-01],
       [3.83849583e-01, 6.75652717e-01, 5.25715685e-01, 5.76569001e-01,
        9.65415892e-01, 4.69887748e-01, 4.46126694e-01, 7.40067044e-01,
        8.34595852e-01, 6.14092866e-01, 3.09003693e-02, 8.74170039e-01,
        5.34940617e-02, 6.91658716e-01, 9.34902647e-01, 4.71713472e-01,
        7.91761023e-02, 6.56915591e-01, 4.92275205e-01, 3.35162552e-01,
        8.40843883e-01, 7.83997024e-01],
       [5.59296730e-01, 8.08301780e-01, 1.52148955e-01, 3.01833756e-02,
        5.57151249e-01, 8.99760348e-01, 5.61335258e-01, 9.59248730e-01,
        6.43491524e-01, 3.87045996e-01, 1.03476746e-01, 3.55646018e-01,
        1.26121234e-01, 2.80839033e-01, 9.28071215e-01, 3.76129422e-03,
        4.10433719e-01, 1.17833452e-01, 2.47287519e-01, 3.48748503e-01,
        7.32622694e-01, 7.15450895e-01],
       [7.68534010e-02, 1.01659735e-02, 1.57434666e-01, 5.45546147e-02,
        9.54470097e-01, 8.67097986e-01, 9.98928547e-01, 3.72312227e-01,
        6.33791709e-02, 3.96143558e-02, 3.86242084e-01, 1.52952589e-01,
        3.82973595e-01, 2.73390046e-01, 1.84548986e-03, 3.76812933e-01,
        4.71081998e-01, 6.51580566e-01, 4.05279457e-01, 1.46582930e-01,
        5.37883224e-01, 8.52955811e-02],
       [1.03079327e-01, 9.59903549e-01, 4.58326430e-01, 6.51300398e-01,
        9.59678142e-02, 9.55594655e-01, 6.17372614e-01, 3.67931181e-01,
        1.58774365e-01, 1.60309677e-01, 8.87984378e-01, 3.96630139e-01,
        8.80711190e-01, 9.36151449e-01, 5.13125000e-01, 6.52681820e-01,
        7.99081402e-01, 5.59349357e-01, 7.85961795e-01, 3.14400582e-01,
        5.97656221e-01, 3.31294583e-01],
       [9.46724991e-01, 9.57430159e-01, 8.32837200e-01, 1.96443051e-01,
        8.27351504e-01, 5.08907018e-01, 6.41753084e-01, 4.59625672e-01,
        5.76099414e-01, 1.81001127e-01, 7.77158777e-01, 9.76458228e-01,
        7.84417985e-01, 2.67409401e-01, 2.52730459e-01, 1.71006159e-01,
        9.44674726e-02, 2.55790191e-01, 1.91251104e-01, 9.11752326e-01,
        1.22697521e-01, 3.88791515e-01],
       [4.06882227e-01, 2.75411046e-01, 4.87535843e-01, 3.85341098e-01,
        8.47850236e-02, 4.81318964e-01, 3.29293246e-01, 7.32541361e-01,
        9.98264074e-01, 6.53523756e-01, 8.37702638e-02, 1.40808826e-01,
        9.04911735e-01, 2.34354015e-02, 8.74164374e-01, 2.57093519e-01,
        6.12892033e-01, 4.07545839e-01, 8.04771222e-01, 4.19954337e-01,
        9.03735029e-01, 1.18406545e-01],
       [2.54610997e-01, 8.79495030e-01, 7.79645281e-01, 7.79524645e-02,
        1.99187436e-01, 1.56786036e-01, 2.22589624e-01, 7.75876145e-01,
        1.59461173e-01, 4.07506035e-01, 8.65375231e-01, 8.25725438e-01,
        8.89865792e-01, 8.65662308e-01, 4.40172900e-02, 3.63277088e-01,
        6.70852181e-01, 5.05143156e-01, 2.67279764e-01, 3.09344275e-01,
        8.89185692e-01, 7.50462846e-01],
       [3.49668205e-01, 6.11105037e-01, 3.36087131e-01, 7.73834668e-01,
        2.35419689e-01, 3.01516034e-01, 7.70142830e-01, 9.90901489e-01,
        1.17482398e-01, 1.21317181e-01, 2.75361787e-01, 3.38116382e-01,
        3.75799656e-01, 7.60224729e-01, 7.23471839e-01, 3.22358214e-01,
        7.96238914e-01, 5.90287668e-02, 6.71359372e-01, 6.35470664e-01,
        2.57894848e-01, 9.42362078e-01],
       [7.37742463e-01, 7.67083028e-01, 7.03976778e-01, 4.43970865e-01,
        2.51450959e-02, 8.23112102e-02, 9.57769468e-01, 9.08032898e-02,
        5.75363473e-02, 6.76672537e-04, 9.39472967e-01, 9.67511916e-01,
        4.21378105e-01, 7.37548341e-01, 2.99108685e-02, 4.28576642e-02,
        1.87045227e-01, 3.00941948e-01, 9.09906249e-01, 5.49681353e-01,
        8.96050250e-01, 3.20319204e-01],
       [3.31430439e-01, 9.26378616e-01, 9.97581222e-01, 1.17237657e-01,
        4.03855751e-01, 1.62943854e-01, 9.50186969e-01, 2.27672279e-02,
        7.03163377e-01, 7.86279622e-01, 3.88064901e-01, 5.01828328e-01,
        6.98225811e-02, 2.47900448e-01, 3.37901555e-01, 4.86205223e-01,
        8.51529839e-01, 3.95105301e-01, 1.23902502e-01, 8.24811226e-01,
        6.01755152e-01, 8.23524294e-01],
       [1.82465689e-01, 9.20189308e-01, 1.25575016e-01, 1.72840595e-01,
        4.37752410e-01, 6.99491690e-01, 1.66592951e-01, 3.34176372e-01,
        2.44922056e-01, 2.33803713e-01, 8.82918241e-01, 6.16254412e-01,
        2.90827363e-01, 9.81123357e-01, 9.87307253e-02, 2.45732160e-01,
        7.13063902e-01, 1.57757930e-01, 5.40139343e-01, 4.79553489e-01,
        3.27581144e-02, 3.01349823e-01],
       [8.99575592e-01, 8.71181639e-02, 8.50596843e-01, 7.63941667e-01,
        2.81501858e-01, 6.50482131e-01, 3.86842838e-02, 7.61031427e-01,
        1.72046430e-01, 3.34479671e-01, 7.12059813e-01, 9.89600730e-01,
        6.04392736e-01, 2.28082200e-01, 6.75661274e-01, 6.67284092e-01,
        8.10222519e-01, 4.66427712e-01, 4.28275758e-01, 3.70824390e-01,
        6.15162201e-01, 5.00437606e-01],
       [7.41272355e-03, 4.71069622e-01, 1.55056561e-01, 3.15051142e-01,
        7.24700470e-01, 2.64860453e-01, 8.06402211e-01, 8.20904817e-01,
        7.03195471e-01, 1.27713004e-02, 6.56157341e-01, 5.08030005e-01,
        4.17874142e-01, 2.85060054e-01, 2.73032552e-01, 1.14976476e-01,
        9.78431165e-01, 2.32163433e-01, 1.63632783e-01, 6.22383800e-01,
        7.28221498e-01, 8.51995208e-01],
       [8.76778257e-01, 3.30335166e-01, 1.36214666e-01, 9.52851648e-01,
        6.96151991e-01, 2.31343701e-01, 8.06549340e-02, 2.75980664e-01,
        2.81203219e-01, 7.93273354e-01, 2.58004779e-03, 7.54786238e-01,
        2.24844550e-01, 7.66956043e-01, 1.15428465e-01, 9.78700141e-01,
        3.72216570e-01, 5.46308857e-01, 5.50340706e-01, 3.25834965e-02,
        6.01579275e-01, 3.63057038e-01],
       [3.29768568e-01, 5.25384574e-01, 9.89482685e-01, 8.07499080e-01,
        3.04500914e-01, 8.87390532e-02, 4.79672485e-01, 2.67682671e-01,
        3.94018388e-02, 1.73230477e-01, 3.80606594e-01, 2.27018201e-01,
        2.45314632e-01, 7.80235299e-01, 7.94590208e-02, 3.57989702e-01,
        8.12201909e-01, 8.87276149e-01, 2.67755635e-01, 1.21076056e-02,
        1.40222208e-02, 8.23614262e-01],
       [5.79841676e-01, 3.40033831e-01, 8.00845871e-01, 8.13428962e-01,
        2.08833750e-01, 9.17485426e-01, 9.54342006e-01, 6.37619460e-01,
        1.93758124e-01, 3.39377456e-03, 4.21418050e-01, 4.52671909e-01,
        5.68618851e-02, 6.39411272e-01, 7.38694313e-01, 2.39782045e-05,
        1.07729315e-01, 5.36937541e-01, 7.24916467e-01, 2.99112211e-02,
        6.04343206e-01, 5.38589174e-01],
       [5.22964620e-01, 5.33850009e-01, 7.83484547e-01, 5.33828530e-01,
        8.70837207e-01, 1.34079331e-01, 8.61779457e-01, 4.92144261e-01,
        7.04550596e-01, 1.61108523e-01, 3.72551436e-02, 6.62149107e-02,
        3.28224702e-02, 8.57201226e-01, 2.14928254e-01, 9.86638428e-02,
        3.44872940e-01, 6.78219428e-01, 1.24651463e-01, 9.78525097e-01,
        5.03146543e-01, 3.97450183e-01],
       [5.35845144e-01, 5.73980730e-01, 2.00161034e-01, 3.26426617e-01,
        4.23503106e-02, 2.91498939e-02, 8.86514417e-01, 9.40710122e-01,
        9.70080212e-01, 5.28645696e-01, 4.48804193e-01, 5.97171707e-01,
        9.92010490e-01, 6.91445876e-01, 6.31711222e-01, 9.58478375e-01,
        7.08873986e-02, 7.75684131e-01, 2.62188760e-01, 8.84854608e-01,
        7.00329874e-01, 6.84246264e-01],
       [7.01017321e-01, 8.61451393e-01, 2.88216825e-01, 8.49039500e-01,
        3.84334058e-01, 8.29780038e-01, 2.68416787e-01, 4.29024546e-01,
        2.12458904e-02, 8.76122642e-01, 9.32251777e-01, 1.48252672e-01,
        6.26643487e-01, 3.98283977e-01, 1.44464195e-01, 6.33011313e-02,
        1.21170559e-01, 2.16836935e-01, 1.24695560e-01, 5.91569934e-01,
        3.50250924e-01, 4.33425376e-01],
       [4.93014262e-01, 9.52744403e-01, 1.98043317e-01, 4.09294491e-01,
        5.55773438e-01, 4.62920947e-01, 6.85934657e-01, 3.72049159e-01,
        8.03346012e-01, 2.93082019e-01, 4.59436233e-01, 7.00086996e-01,
        3.21387228e-01, 9.82041562e-01, 9.49438700e-01, 7.01266699e-01,
        3.96405254e-01, 6.24422707e-01, 1.19992323e-01, 1.49930674e-01,
        2.25134775e-01, 3.08966101e-01],
       [7.91604998e-01, 3.88142173e-01, 1.10961120e-01, 8.79406847e-01,
        3.99591898e-01, 8.20028287e-01, 2.93390220e-01, 2.21344973e-01,
        1.96167487e-01, 4.90948370e-01, 3.77687316e-01, 4.60204503e-01,
        3.28423305e-01, 5.95417463e-01, 6.58899533e-02, 1.91261905e-01,
        9.69739337e-01, 8.41748665e-01, 3.86875809e-01, 6.42823199e-01,
        7.69769638e-01, 8.57994316e-02],
       [4.03545092e-01, 5.57636015e-01, 2.16907401e-02, 4.63398983e-01,
        5.55444092e-01, 1.45413573e-01, 3.32564682e-01, 6.41146729e-01,
        7.13289504e-02, 1.76499782e-01, 4.76269431e-01, 2.26801705e-01,
        3.38307640e-01, 9.68645409e-01, 1.67434684e-01, 3.41562462e-01,
        7.39780779e-01, 1.56443805e-01, 1.06925990e-01, 6.02721871e-01,
        9.55895115e-01, 8.16844617e-01],
       [5.62178059e-01, 1.88668634e-01, 3.39113030e-01, 5.11815754e-01,
        4.64746744e-01, 2.81445143e-01, 3.43974948e-01, 5.46324364e-01,
        5.67866634e-01, 7.66665688e-01, 1.33330741e-01, 5.00389099e-01,
        5.10913292e-01, 3.34943564e-01, 4.26435342e-01, 5.55507565e-01,
        3.87171932e-01, 4.88231962e-01, 8.90125482e-01, 6.17390214e-01,
        8.97284882e-01, 5.79084630e-01],
       [6.98102593e-01, 3.02979060e-01, 2.12349579e-01, 9.06979713e-01,
        6.70783278e-02, 9.34135223e-01, 7.75716538e-01, 2.74159689e-03,
        5.40176656e-01, 1.89233551e-01, 2.18841398e-01, 5.03378176e-01,
        6.54015090e-02, 7.59552845e-01, 3.98158841e-01, 2.25187333e-01,
        3.20122871e-01, 2.03160812e-01, 9.01602980e-01, 2.95687973e-01,
        5.75291314e-01, 6.54768278e-01],
       [8.85774799e-01, 8.77134748e-01, 3.71542645e-01, 1.30079395e-01,
        1.24694608e-01, 9.89236822e-01, 6.70244948e-01, 7.33215950e-01,
        5.12604471e-01, 1.55758995e-01, 3.77760753e-02, 8.62832679e-02,
        5.59440408e-01, 9.35088791e-01, 2.11740334e-01, 5.08148439e-01,
        8.84074088e-01, 5.79154506e-01, 7.00275557e-01, 3.25154860e-01,
        3.42736984e-01, 3.16737107e-01],
       [9.14041211e-01, 1.75703133e-01, 1.42542930e-01, 1.81415719e-01,
        3.83079788e-02, 2.64055743e-01, 9.01420270e-01, 2.50360767e-02,
        4.20299657e-01, 8.56264651e-01, 5.95787046e-01, 3.96690546e-01,
        1.02001208e-01, 5.31206351e-01, 2.71255009e-01, 9.58339187e-01,
        9.59430825e-01, 4.02349967e-01, 1.61446558e-01, 4.37175026e-01,
        5.83346608e-01, 1.77737846e-02],
       [8.69467099e-01, 3.19692657e-02, 4.89137916e-01, 3.71025925e-01,
        9.26998567e-01, 1.31714095e-01, 5.02143700e-01, 9.93651308e-01,
        3.75946579e-01, 8.40208761e-01, 7.96159624e-01, 4.47793388e-01,
        2.51572705e-01, 1.38351509e-02, 9.90928182e-01, 5.63125591e-01,
        6.33167886e-01, 8.14718326e-01, 4.40670440e-01, 7.49038223e-01,
        3.05242847e-01, 4.43359450e-01],
       [7.96631706e-01, 6.03200581e-01, 9.01688743e-01, 3.36016230e-01,
        6.89905877e-01, 2.23111775e-01, 3.05262068e-01, 4.73738696e-01,
        3.07649529e-01, 3.38073379e-01, 9.25602179e-01, 2.15373869e-01,
        2.74826192e-01, 8.62301485e-01, 1.00015216e-01, 8.93446320e-02,
        1.20836704e-01, 4.91187155e-01, 4.72957103e-01, 1.16158607e-01,
        7.37145245e-01, 3.17380452e-01],
       [7.15061688e-01, 6.53108225e-01, 5.43279802e-02, 7.38463135e-02,
        7.57813596e-01, 2.78029339e-01, 6.36066924e-01, 1.91525030e-01,
        4.41914179e-01, 8.75925969e-01, 6.69329395e-01, 3.96079014e-02,
        3.42631732e-01, 9.36803321e-01, 8.20147532e-01, 4.72661252e-01,
        8.98563433e-01, 9.33217183e-01, 6.30657165e-01, 3.90761213e-01,
        6.00420660e-01, 7.57480886e-01],
       [8.90703413e-01, 2.54164296e-01, 6.05486550e-01, 9.85287033e-01,
        9.89875639e-01, 2.25290668e-01, 2.53496511e-01, 8.95124230e-01,
        3.26874954e-01, 3.91818365e-01, 4.70022268e-02, 3.23727071e-01,
        3.34820670e-01, 6.41796408e-01, 1.85590036e-01, 5.73831962e-01,
        3.44615056e-01, 5.93715042e-01, 3.05975673e-02, 1.36615211e-01,
        1.28760450e-01, 1.23252981e-01],
       [9.85792511e-02, 7.17002639e-01, 5.94228227e-02, 8.78871479e-01,
        7.28962516e-01, 2.12391429e-02, 6.82186096e-01, 4.84572550e-01,
        8.10180216e-01, 6.22031818e-01, 2.44024669e-01, 2.00056094e-01,
        1.63011959e-01, 3.34318812e-01, 1.53785533e-01, 5.03307544e-01,
        3.70804500e-01, 1.69757262e-01, 2.35042935e-01, 7.21646057e-01,
        7.05989744e-01, 1.84682472e-01],
       [3.29775459e-01, 8.53773167e-01, 4.62105932e-01, 4.48025341e-01,
        4.01957892e-01, 6.69268964e-01, 4.56493697e-01, 8.53843707e-01,
        2.28799430e-01, 2.08349366e-01, 4.32746283e-01, 5.76261491e-01,
        4.44011560e-01, 7.00257760e-01, 2.93376282e-01, 4.57508472e-01,
        1.39230093e-01, 3.18426496e-01, 3.16463872e-01, 1.33016201e-01,
        2.66765201e-01, 5.04555516e-01]])

In [40]:
temp = np.random.rand(5,2)

In [41]:
temp

array([[0.52847064, 0.94960276],
       [0.07648473, 0.0758842 ],
       [0.43623247, 0.88131308],
       [0.70344265, 0.02493859],
       [0.44810126, 0.61100089]])

In [42]:
type(temp)

numpy.ndarray

In [43]:
temp = pd.DataFrame(temp)

In [44]:
temp

          0         1
0  0.528471  0.949603
1  0.076485  0.075884
2  0.436232  0.881313
3  0.703443  0.024939
4  0.448101  0.611001

In [45]:
temp

          0         1
0  0.528471  0.949603
1  0.076485  0.075884
2  0.436232  0.881313
3  0.703443  0.024939
4  0.448101  0.611001

In [46]:
np.arange(16)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [47]:
newdf = pd.DataFrame(np.random.rand(20, 5), index = np.arange(20))

In [48]:
newdf

           0         1         2         3         4
0   0.823140  0.622730  0.542519  0.510768  0.528106
1   0.089772  0.412271  0.201249  0.658675  0.128951
2   0.128322  0.956903  0.980044  0.441398  0.176626
3   0.578627  0.370462  0.125295  0.292426  0.850412
4   0.886248  0.620872  0.204168  0.630107  0.454191
5   0.402306  0.818984  0.626489  0.099584  0.811625
6   0.263734  0.139240  0.695278  0.766823  0.425911
7   0.645308  0.277678  0.895681  0.254816  0.249549
8   0.855703  0.686930  0.299925  0.757026  0.924151
9   0.350991  0.991251  0.681177  0.090021  0.272952
10  0.498998  0.194289  0.077538  0.818205  0.765018
11  0.738469  0.060071  0.621855  0.610602  0.522577
12  0.138108  0.652395  0.550535  0.915805  0.499362
13  0.405641  0.563971  0.447419  0.609059  0.063477
14  0.302882  0.955101  0.237781  0.268446  0.806542
15  0.734935  0.906870  0.486090  0.826164  0.959255
16  0.709647  0.749126  0.158026  0.916706  0.833787
17  0.780728  0.817317  0.195741  0.402313  0.145886
18  0.873286  0.867781  0.558083  0.380305  0.143873
19  0.316344  0.961232  0.235410  0.298539  0.876258

In [49]:
newdf.head()

          0         1         2         3         4
0  0.823140  0.622730  0.542519  0.510768  0.528106
1  0.089772  0.412271  0.201249  0.658675  0.128951
2  0.128322  0.956903  0.980044  0.441398  0.176626
3  0.578627  0.370462  0.125295  0.292426  0.850412
4  0.886248  0.620872  0.204168  0.630107  0.454191

In [50]:
newdf.head(3)

          0         1         2         3         4
0  0.823140  0.622730  0.542519  0.510768  0.528106
1  0.089772  0.412271  0.201249  0.658675  0.128951
2  0.128322  0.956903  0.980044  0.441398  0.176626

In [51]:
newdf.tail(5)

           0         1         2         3         4
15  0.734935  0.906870  0.486090  0.826164  0.959255
16  0.709647  0.749126  0.158026  0.916706  0.833787
17  0.780728  0.817317  0.195741  0.402313  0.145886
18  0.873286  0.867781  0.558083  0.380305  0.143873
19  0.316344  0.961232  0.235410  0.298539  0.876258

In [52]:
newdf.describe()

               0          1          2          3          4
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.526159   0.631274   0.441015   0.527389   0.521925
std     0.268951   0.296788   0.262967   0.261162   0.310049
min     0.089772   0.060071   0.077538   0.090021   0.063477
25%     0.312978   0.401819   0.203438   0.297011   0.231318
50%     0.538812   0.669663   0.466755   0.559913   0.510969
75%     0.749034   0.877553   0.623013   0.759475   0.817165
max     0.886248   0.991251   0.980044   0.916706   0.959255

In [53]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
dtypes: float64(5)
memory usage: 880.0 bytes

In [54]:
newdf.size

100

In [55]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [56]:
newdf

           0         1         2         3         4
0   0.823140  0.622730  0.542519  0.510768  0.528106
1   0.089772  0.412271  0.201249  0.658675  0.128951
2   0.128322  0.956903  0.980044  0.441398  0.176626
3   0.578627  0.370462  0.125295  0.292426  0.850412
4   0.886248  0.620872  0.204168  0.630107  0.454191
5   0.402306  0.818984  0.626489  0.099584  0.811625
6   0.263734  0.139240  0.695278  0.766823  0.425911
7   0.645308  0.277678  0.895681  0.254816  0.249549
8   0.855703  0.686930  0.299925  0.757026  0.924151
9   0.350991  0.991251  0.681177  0.090021  0.272952
10  0.498998  0.194289  0.077538  0.818205  0.765018
11  0.738469  0.060071  0.621855  0.610602  0.522577
12  0.138108  0.652395  0.550535  0.915805  0.499362
13  0.405641  0.563971  0.447419  0.609059  0.063477
14  0.302882  0.955101  0.237781  0.268446  0.806542
15  0.734935  0.906870  0.486090  0.826164  0.959255
16  0.709647  0.749126  0.158026  0.916706  0.833787
17  0.780728  0.817317  0.195741  0.402313  0.145886
18  0.873286  0.867781  0.558083  0.380305  0.143873
19  0.316344  0.961232  0.235410  0.298539  0.876258

In [57]:
newdf.head()

          0         1         2         3         4
0  0.823140  0.622730  0.542519  0.510768  0.528106
1  0.089772  0.412271  0.201249  0.658675  0.128951
2  0.128322  0.956903  0.980044  0.441398  0.176626
3  0.578627  0.370462  0.125295  0.292426  0.850412
4  0.886248  0.620872  0.204168  0.630107  0.454191

In [58]:
newdf.iloc[0][1] = 155

In [59]:
newdf.head()

          0           1         2         3         4
0  0.823140  155.000000  0.542519  0.510768  0.528106
1  0.089772    0.412271  0.201249  0.658675  0.128951
2  0.128322    0.956903  0.980044  0.441398  0.176626
3  0.578627    0.370462  0.125295  0.292426  0.850412
4  0.886248    0.620872  0.204168  0.630107  0.454191

In [60]:
newdf.index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int32')

In [61]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [62]:
newdf.to_numpy()

array([[8.23139894e-01, 1.55000000e+02, 5.42519302e-01, 5.10767823e-01,
        5.28105692e-01],
       [8.97722233e-02, 4.12271477e-01, 2.01249297e-01, 6.58675311e-01,
        1.28951035e-01],
       [1.28321909e-01, 9.56902787e-01, 9.80044347e-01, 4.41397537e-01,
        1.76626192e-01],
       [5.78627336e-01, 3.70462222e-01, 1.25294564e-01, 2.92426347e-01,
        8.50412154e-01],
       [8.86248021e-01, 6.20872134e-01, 2.04167779e-01, 6.30107367e-01,
        4.54191469e-01],
       [4.02306479e-01, 8.18984149e-01, 6.26488507e-01, 9.95837245e-02,
        8.11624822e-01],
       [2.63734368e-01, 1.39240025e-01, 6.95278005e-01, 7.66822938e-01,
        4.25911266e-01],
       [6.45308418e-01, 2.77678487e-01, 8.95681434e-01, 2.54816124e-01,
        2.49549089e-01],
       [8.55702717e-01, 6.86929970e-01, 2.99925308e-01, 7.57025615e-01,
        9.24151083e-01],
       [3.50990933e-01, 9.91250606e-01, 6.81176955e-01, 9.00205930e-02,
        2.72951654e-01],
       [4.98997629e-01, 1.94288855e-01, 7.75380688e-02, 8.18205249e-01,
        7.65018326e-01],
       [7.38469238e-01, 6.00707575e-02, 6.21854723e-01, 6.10601764e-01,
        5.22576905e-01],
       [1.38107861e-01, 6.52395046e-01, 5.50534706e-01, 9.15805078e-01,
        4.99362011e-01],
       [4.05641205e-01, 5.63970785e-01, 4.47419432e-01, 6.09058915e-01,
        6.34766177e-02],
       [3.02882289e-01, 9.55100790e-01, 2.37781057e-01, 2.68445785e-01,
        8.06542157e-01],
       [7.34935173e-01, 9.06870490e-01, 4.86090467e-01, 8.26163521e-01,
        9.59255358e-01],
       [7.09646874e-01, 7.49126073e-01, 1.58026370e-01, 9.16705682e-01,
        8.33786863e-01],
       [7.80727674e-01, 8.17317459e-01, 1.95740790e-01, 4.02313469e-01,
        1.45886210e-01],
       [8.73285844e-01, 8.67781104e-01, 5.58082864e-01, 3.80304677e-01,
        1.43872641e-01],
       [3.16343827e-01, 9.61232475e-01, 2.35409913e-01, 2.98539071e-01,
        8.76257920e-01]])

In [63]:
type(newdf)

pandas.core.frame.DataFrame

In [64]:
temp = newdf.to_numpy()

In [65]:
temp

array([[8.23139894e-01, 1.55000000e+02, 5.42519302e-01, 5.10767823e-01,
        5.28105692e-01],
       [8.97722233e-02, 4.12271477e-01, 2.01249297e-01, 6.58675311e-01,
        1.28951035e-01],
       [1.28321909e-01, 9.56902787e-01, 9.80044347e-01, 4.41397537e-01,
        1.76626192e-01],
       [5.78627336e-01, 3.70462222e-01, 1.25294564e-01, 2.92426347e-01,
        8.50412154e-01],
       [8.86248021e-01, 6.20872134e-01, 2.04167779e-01, 6.30107367e-01,
        4.54191469e-01],
       [4.02306479e-01, 8.18984149e-01, 6.26488507e-01, 9.95837245e-02,
        8.11624822e-01],
       [2.63734368e-01, 1.39240025e-01, 6.95278005e-01, 7.66822938e-01,
        4.25911266e-01],
       [6.45308418e-01, 2.77678487e-01, 8.95681434e-01, 2.54816124e-01,
        2.49549089e-01],
       [8.55702717e-01, 6.86929970e-01, 2.99925308e-01, 7.57025615e-01,
        9.24151083e-01],
       [3.50990933e-01, 9.91250606e-01, 6.81176955e-01, 9.00205930e-02,
        2.72951654e-01],
       [4.98997629e-01, 1.94288855e-01, 7.75380688e-02, 8.18205249e-01,
        7.65018326e-01],
       [7.38469238e-01, 6.00707575e-02, 6.21854723e-01, 6.10601764e-01,
        5.22576905e-01],
       [1.38107861e-01, 6.52395046e-01, 5.50534706e-01, 9.15805078e-01,
        4.99362011e-01],
       [4.05641205e-01, 5.63970785e-01, 4.47419432e-01, 6.09058915e-01,
        6.34766177e-02],
       [3.02882289e-01, 9.55100790e-01, 2.37781057e-01, 2.68445785e-01,
        8.06542157e-01],
       [7.34935173e-01, 9.06870490e-01, 4.86090467e-01, 8.26163521e-01,
        9.59255358e-01],
       [7.09646874e-01, 7.49126073e-01, 1.58026370e-01, 9.16705682e-01,
        8.33786863e-01],
       [7.80727674e-01, 8.17317459e-01, 1.95740790e-01, 4.02313469e-01,
        1.45886210e-01],
       [8.73285844e-01, 8.67781104e-01, 5.58082864e-01, 3.80304677e-01,
        1.43872641e-01],
       [3.16343827e-01, 9.61232475e-01, 2.35409913e-01, 2.98539071e-01,
        8.76257920e-01]])

In [66]:
type(temp)

numpy.ndarray

In [67]:
temp

array([[8.23139894e-01, 1.55000000e+02, 5.42519302e-01, 5.10767823e-01,
        5.28105692e-01],
       [8.97722233e-02, 4.12271477e-01, 2.01249297e-01, 6.58675311e-01,
        1.28951035e-01],
       [1.28321909e-01, 9.56902787e-01, 9.80044347e-01, 4.41397537e-01,
        1.76626192e-01],
       [5.78627336e-01, 3.70462222e-01, 1.25294564e-01, 2.92426347e-01,
        8.50412154e-01],
       [8.86248021e-01, 6.20872134e-01, 2.04167779e-01, 6.30107367e-01,
        4.54191469e-01],
       [4.02306479e-01, 8.18984149e-01, 6.26488507e-01, 9.95837245e-02,
        8.11624822e-01],
       [2.63734368e-01, 1.39240025e-01, 6.95278005e-01, 7.66822938e-01,
        4.25911266e-01],
       [6.45308418e-01, 2.77678487e-01, 8.95681434e-01, 2.54816124e-01,
        2.49549089e-01],
       [8.55702717e-01, 6.86929970e-01, 2.99925308e-01, 7.57025615e-01,
        9.24151083e-01],
       [3.50990933e-01, 9.91250606e-01, 6.81176955e-01, 9.00205930e-02,
        2.72951654e-01],
       [4.98997629e-01, 1.94288855e-01, 7.75380688e-02, 8.18205249e-01,
        7.65018326e-01],
       [7.38469238e-01, 6.00707575e-02, 6.21854723e-01, 6.10601764e-01,
        5.22576905e-01],
       [1.38107861e-01, 6.52395046e-01, 5.50534706e-01, 9.15805078e-01,
        4.99362011e-01],
       [4.05641205e-01, 5.63970785e-01, 4.47419432e-01, 6.09058915e-01,
        6.34766177e-02],
       [3.02882289e-01, 9.55100790e-01, 2.37781057e-01, 2.68445785e-01,
        8.06542157e-01],
       [7.34935173e-01, 9.06870490e-01, 4.86090467e-01, 8.26163521e-01,
        9.59255358e-01],
       [7.09646874e-01, 7.49126073e-01, 1.58026370e-01, 9.16705682e-01,
        8.33786863e-01],
       [7.80727674e-01, 8.17317459e-01, 1.95740790e-01, 4.02313469e-01,
        1.45886210e-01],
       [8.73285844e-01, 8.67781104e-01, 5.58082864e-01, 3.80304677e-01,
        1.43872641e-01],
       [3.16343827e-01, 9.61232475e-01, 2.35409913e-01, 2.98539071e-01,
        8.76257920e-01]])

In [68]:
temp.T

array([[8.23139894e-01, 8.97722233e-02, 1.28321909e-01, 5.78627336e-01,
        8.86248021e-01, 4.02306479e-01, 2.63734368e-01, 6.45308418e-01,
        8.55702717e-01, 3.50990933e-01, 4.98997629e-01, 7.38469238e-01,
        1.38107861e-01, 4.05641205e-01, 3.02882289e-01, 7.34935173e-01,
        7.09646874e-01, 7.80727674e-01, 8.73285844e-01, 3.16343827e-01],
       [1.55000000e+02, 4.12271477e-01, 9.56902787e-01, 3.70462222e-01,
        6.20872134e-01, 8.18984149e-01, 1.39240025e-01, 2.77678487e-01,
        6.86929970e-01, 9.91250606e-01, 1.94288855e-01, 6.00707575e-02,
        6.52395046e-01, 5.63970785e-01, 9.55100790e-01, 9.06870490e-01,
        7.49126073e-01, 8.17317459e-01, 8.67781104e-01, 9.61232475e-01],
       [5.42519302e-01, 2.01249297e-01, 9.80044347e-01, 1.25294564e-01,
        2.04167779e-01, 6.26488507e-01, 6.95278005e-01, 8.95681434e-01,
        2.99925308e-01, 6.81176955e-01, 7.75380688e-02, 6.21854723e-01,
        5.50534706e-01, 4.47419432e-01, 2.37781057e-01, 4.86090467e-01,
        1.58026370e-01, 1.95740790e-01, 5.58082864e-01, 2.35409913e-01],
       [5.10767823e-01, 6.58675311e-01, 4.41397537e-01, 2.92426347e-01,
        6.30107367e-01, 9.95837245e-02, 7.66822938e-01, 2.54816124e-01,
        7.57025615e-01, 9.00205930e-02, 8.18205249e-01, 6.10601764e-01,
        9.15805078e-01, 6.09058915e-01, 2.68445785e-01, 8.26163521e-01,
        9.16705682e-01, 4.02313469e-01, 3.80304677e-01, 2.98539071e-01],
       [5.28105692e-01, 1.28951035e-01, 1.76626192e-01, 8.50412154e-01,
        4.54191469e-01, 8.11624822e-01, 4.25911266e-01, 2.49549089e-01,
        9.24151083e-01, 2.72951654e-01, 7.65018326e-01, 5.22576905e-01,
        4.99362011e-01, 6.34766177e-02, 8.06542157e-01, 9.59255358e-01,
        8.33786863e-01, 1.45886210e-01, 1.43872641e-01, 8.76257920e-01]])

In [69]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.823140,0.089772,0.128322,0.578627,0.886248,0.402306,0.263734,0.645308,0.855703,0.350991,0.498998,0.738469,0.138108,0.405641,0.302882,0.734935,0.709647,0.780728,0.873286,0.316344
1,155.000000,0.412271,0.956903,0.370462,0.620872,0.818984,0.139240,0.277678,0.686930,0.991251,0.194289,0.060071,0.652395,0.563971,0.955101,0.906870,0.749126,0.817317,0.867781,0.961232
2,0.542519,0.201249,0.980044,0.125295,0.204168,0.626489,0.695278,0.895681,0.299925,0.681177,0.077538,0.621855,0.550535,0.447419,0.237781,0.486090,0.158026,0.195741,0.558083,0.235410
3,0.510768,0.658675,0.441398,0.292426,0.630107,0.099584,0.766823,0.254816,0.757026,0.090021,0.818205,0.610602,0.915805,0.609059,0.268446,0.826164,0.916706,0.402313,0.380305,0.298539
4,0.528106,0.128951,0.176626,0.850412,0.454191,0.811625,0.425911,0.249549,0.924151,0.272952,0.765018,0.522577,0.499362,0.063477,0.806542,0.959255,0.833787,0.145886,0.143873,0.876258

In [70]:
newdf

           0           1         2         3         4
0   0.823140  155.000000  0.542519  0.510768  0.528106
1   0.089772    0.412271  0.201249  0.658675  0.128951
2   0.128322    0.956903  0.980044  0.441398  0.176626
3   0.578627    0.370462  0.125295  0.292426  0.850412
4   0.886248    0.620872  0.204168  0.630107  0.454191
5   0.402306    0.818984  0.626489  0.099584  0.811625
6   0.263734    0.139240  0.695278  0.766823  0.425911
7   0.645308    0.277678  0.895681  0.254816  0.249549
8   0.855703    0.686930  0.299925  0.757026  0.924151
9   0.350991    0.991251  0.681177  0.090021  0.272952
10  0.498998    0.194289  0.077538  0.818205  0.765018
11  0.738469    0.060071  0.621855  0.610602  0.522577
12  0.138108    0.652395  0.550535  0.915805  0.499362
13  0.405641    0.563971  0.447419  0.609059  0.063477
14  0.302882    0.955101  0.237781  0.268446  0.806542
15  0.734935    0.906870  0.486090  0.826164  0.959255
16  0.709647    0.749126  0.158026  0.916706  0.833787
17  0.780728    0.817317  0.195741  0.402313  0.145886
18  0.873286    0.867781  0.558083  0.380305  0.143873
19  0.316344    0.961232  0.235410  0.298539  0.876258

In [71]:
newdf

           0           1         2         3         4
0   0.823140  155.000000  0.542519  0.510768  0.528106
1   0.089772    0.412271  0.201249  0.658675  0.128951
2   0.128322    0.956903  0.980044  0.441398  0.176626
3   0.578627    0.370462  0.125295  0.292426  0.850412
4   0.886248    0.620872  0.204168  0.630107  0.454191
5   0.402306    0.818984  0.626489  0.099584  0.811625
6   0.263734    0.139240  0.695278  0.766823  0.425911
7   0.645308    0.277678  0.895681  0.254816  0.249549
8   0.855703    0.686930  0.299925  0.757026  0.924151
9   0.350991    0.991251  0.681177  0.090021  0.272952
10  0.498998    0.194289  0.077538  0.818205  0.765018
11  0.738469    0.060071  0.621855  0.610602  0.522577
12  0.138108    0.652395  0.550535  0.915805  0.499362
13  0.405641    0.563971  0.447419  0.609059  0.063477
14  0.302882    0.955101  0.237781  0.268446  0.806542
15  0.734935    0.906870  0.486090  0.826164  0.959255
16  0.709647    0.749126  0.158026  0.916706  0.833787
17  0.780728    0.817317  0.195741  0.402313  0.145886
18  0.873286    0.867781  0.558083  0.380305  0.143873
19  0.316344    0.961232  0.235410  0.298539  0.876258

In [72]:
newdf.count()

0    20
1    20
2    20
3    20
4    20
dtype: int64

In [73]:
newdf.sort_index(axis = 0, ascending = False)

           0           1         2         3         4
19  0.316344    0.961232  0.235410  0.298539  0.876258
18  0.873286    0.867781  0.558083  0.380305  0.143873
17  0.780728    0.817317  0.195741  0.402313  0.145886
16  0.709647    0.749126  0.158026  0.916706  0.833787
15  0.734935    0.906870  0.486090  0.826164  0.959255
14  0.302882    0.955101  0.237781  0.268446  0.806542
13  0.405641    0.563971  0.447419  0.609059  0.063477
12  0.138108    0.652395  0.550535  0.915805  0.499362
11  0.738469    0.060071  0.621855  0.610602  0.522577
10  0.498998    0.194289  0.077538  0.818205  0.765018
9   0.350991    0.991251  0.681177  0.090021  0.272952
8   0.855703    0.686930  0.299925  0.757026  0.924151
7   0.645308    0.277678  0.895681  0.254816  0.249549
6   0.263734    0.139240  0.695278  0.766823  0.425911
5   0.402306    0.818984  0.626489  0.099584  0.811625
4   0.886248    0.620872  0.204168  0.630107  0.454191
3   0.578627    0.370462  0.125295  0.292426  0.850412
2   0.128322    0.956903  0.980044  0.441398  0.176626
1   0.089772    0.412271  0.201249  0.658675  0.128951
0   0.823140  155.000000  0.542519  0.510768  0.528106

In [74]:
newdf.sort_index(axis = 1, ascending = False)

           4         3         2           1         0
0   0.528106  0.510768  0.542519  155.000000  0.823140
1   0.128951  0.658675  0.201249    0.412271  0.089772
2   0.176626  0.441398  0.980044    0.956903  0.128322
3   0.850412  0.292426  0.125295    0.370462  0.578627
4   0.454191  0.630107  0.204168    0.620872  0.886248
5   0.811625  0.099584  0.626489    0.818984  0.402306
6   0.425911  0.766823  0.695278    0.139240  0.263734
7   0.249549  0.254816  0.895681    0.277678  0.645308
8   0.924151  0.757026  0.299925    0.686930  0.855703
9   0.272952  0.090021  0.681177    0.991251  0.350991
10  0.765018  0.818205  0.077538    0.194289  0.498998
11  0.522577  0.610602  0.621855    0.060071  0.738469
12  0.499362  0.915805  0.550535    0.652395  0.138108
13  0.063477  0.609059  0.447419    0.563971  0.405641
14  0.806542  0.268446  0.237781    0.955101  0.302882
15  0.959255  0.826164  0.486090    0.906870  0.734935
16  0.833787  0.916706  0.158026    0.749126  0.709647
17  0.145886  0.402313  0.195741    0.817317  0.780728
18  0.143873  0.380305  0.558083    0.867781  0.873286
19  0.876258  0.298539  0.235410    0.961232  0.316344

In [75]:
newdf

           0           1         2         3         4
0   0.823140  155.000000  0.542519  0.510768  0.528106
1   0.089772    0.412271  0.201249  0.658675  0.128951
2   0.128322    0.956903  0.980044  0.441398  0.176626
3   0.578627    0.370462  0.125295  0.292426  0.850412
4   0.886248    0.620872  0.204168  0.630107  0.454191
5   0.402306    0.818984  0.626489  0.099584  0.811625
6   0.263734    0.139240  0.695278  0.766823  0.425911
7   0.645308    0.277678  0.895681  0.254816  0.249549
8   0.855703    0.686930  0.299925  0.757026  0.924151
9   0.350991    0.991251  0.681177  0.090021  0.272952
10  0.498998    0.194289  0.077538  0.818205  0.765018
11  0.738469    0.060071  0.621855  0.610602  0.522577
12  0.138108    0.652395  0.550535  0.915805  0.499362
13  0.405641    0.563971  0.447419  0.609059  0.063477
14  0.302882    0.955101  0.237781  0.268446  0.806542
15  0.734935    0.906870  0.486090  0.826164  0.959255
16  0.709647    0.749126  0.158026  0.916706  0.833787
17  0.780728    0.817317  0.195741  0.402313  0.145886
18  0.873286    0.867781  0.558083  0.380305  0.143873
19  0.316344    0.961232  0.235410  0.298539  0.876258

In [76]:
newdf[0]

0     0.823140
1     0.089772
2     0.128322
3     0.578627
4     0.886248
5     0.402306
6     0.263734
7     0.645308
8     0.855703
9     0.350991
10    0.498998
11    0.738469
12    0.138108
13    0.405641
14    0.302882
15    0.734935
16    0.709647
17    0.780728
18    0.873286
19    0.316344
Name: 0, dtype: float64

In [77]:
newdf[1]

0     155.000000
1       0.412271
2       0.956903
3       0.370462
4       0.620872
5       0.818984
6       0.139240
7       0.277678
8       0.686930
9       0.991251
10      0.194289
11      0.060071
12      0.652395
13      0.563971
14      0.955101
15      0.906870
16      0.749126
17      0.817317
18      0.867781
19      0.961232
Name: 1, dtype: float64

In [78]:
type(newdf)

pandas.core.frame.DataFrame

In [79]:
type(newdf[2])

pandas.core.series.Series

In [80]:
arr1 = np.array([2, 4, 6, 8, 10])
print(id(arr1))
arr2 = arr1
print(id(arr1))
print(id(arr2))

2995150353872
2995150353872
2995150353872

In [81]:
newdf

           0           1         2         3         4
0   0.823140  155.000000  0.542519  0.510768  0.528106
1   0.089772    0.412271  0.201249  0.658675  0.128951
2   0.128322    0.956903  0.980044  0.441398  0.176626
3   0.578627    0.370462  0.125295  0.292426  0.850412
4   0.886248    0.620872  0.204168  0.630107  0.454191
5   0.402306    0.818984  0.626489  0.099584  0.811625
6   0.263734    0.139240  0.695278  0.766823  0.425911
7   0.645308    0.277678  0.895681  0.254816  0.249549
8   0.855703    0.686930  0.299925  0.757026  0.924151
9   0.350991    0.991251  0.681177  0.090021  0.272952
10  0.498998    0.194289  0.077538  0.818205  0.765018
11  0.738469    0.060071  0.621855  0.610602  0.522577
12  0.138108    0.652395  0.550535  0.915805  0.499362
13  0.405641    0.563971  0.447419  0.609059  0.063477
14  0.302882    0.955101  0.237781  0.268446  0.806542
15  0.734935    0.906870  0.486090  0.826164  0.959255
16  0.709647    0.749126  0.158026  0.916706  0.833787
17  0.780728    0.817317  0.195741  0.402313  0.145886
18  0.873286    0.867781  0.558083  0.380305  0.143873
19  0.316344    0.961232  0.235410  0.298539  0.876258

In [82]:
newdf2 = newdf

In [83]:
id(newdf)

2995138507152

In [84]:
id(newdf2)

2995138507152

In [85]:
newdf

           0           1         2         3         4
0   0.823140  155.000000  0.542519  0.510768  0.528106
1   0.089772    0.412271  0.201249  0.658675  0.128951
2   0.128322    0.956903  0.980044  0.441398  0.176626
3   0.578627    0.370462  0.125295  0.292426  0.850412
4   0.886248    0.620872  0.204168  0.630107  0.454191
5   0.402306    0.818984  0.626489  0.099584  0.811625
6   0.263734    0.139240  0.695278  0.766823  0.425911
7   0.645308    0.277678  0.895681  0.254816  0.249549
8   0.855703    0.686930  0.299925  0.757026  0.924151
9   0.350991    0.991251  0.681177  0.090021  0.272952
10  0.498998    0.194289  0.077538  0.818205  0.765018
11  0.738469    0.060071  0.621855  0.610602  0.522577
12  0.138108    0.652395  0.550535  0.915805  0.499362
13  0.405641    0.563971  0.447419  0.609059  0.063477
14  0.302882    0.955101  0.237781  0.268446  0.806542
15  0.734935    0.906870  0.486090  0.826164  0.959255
16  0.709647    0.749126  0.158026  0.916706  0.833787
17  0.780728    0.817317  0.195741  0.402313  0.145886
18  0.873286    0.867781  0.558083  0.380305  0.143873
19  0.316344    0.961232  0.235410  0.298539  0.876258

In [86]:
newdf2

           0           1         2         3         4
0   0.823140  155.000000  0.542519  0.510768  0.528106
1   0.089772    0.412271  0.201249  0.658675  0.128951
2   0.128322    0.956903  0.980044  0.441398  0.176626
3   0.578627    0.370462  0.125295  0.292426  0.850412
4   0.886248    0.620872  0.204168  0.630107  0.454191
5   0.402306    0.818984  0.626489  0.099584  0.811625
6   0.263734    0.139240  0.695278  0.766823  0.425911
7   0.645308    0.277678  0.895681  0.254816  0.249549
8   0.855703    0.686930  0.299925  0.757026  0.924151
9   0.350991    0.991251  0.681177  0.090021  0.272952
10  0.498998    0.194289  0.077538  0.818205  0.765018
11  0.738469    0.060071  0.621855  0.610602  0.522577
12  0.138108    0.652395  0.550535  0.915805  0.499362
13  0.405641    0.563971  0.447419  0.609059  0.063477
14  0.302882    0.955101  0.237781  0.268446  0.806542
15  0.734935    0.906870  0.486090  0.826164  0.959255
16  0.709647    0.749126  0.158026  0.916706  0.833787
17  0.780728    0.817317  0.195741  0.402313  0.145886
18  0.873286    0.867781  0.558083  0.380305  0.143873
19  0.316344    0.961232  0.235410  0.298539  0.876258

In [87]:
newdf2.iloc[0,2] = 55

In [88]:
newdf

           0           1          2         3         4
0   0.823140  155.000000  55.000000  0.510768  0.528106
1   0.089772    0.412271   0.201249  0.658675  0.128951
2   0.128322    0.956903   0.980044  0.441398  0.176626
3   0.578627    0.370462   0.125295  0.292426  0.850412
4   0.886248    0.620872   0.204168  0.630107  0.454191
5   0.402306    0.818984   0.626489  0.099584  0.811625
6   0.263734    0.139240   0.695278  0.766823  0.425911
7   0.645308    0.277678   0.895681  0.254816  0.249549
8   0.855703    0.686930   0.299925  0.757026  0.924151
9   0.350991    0.991251   0.681177  0.090021  0.272952
10  0.498998    0.194289   0.077538  0.818205  0.765018
11  0.738469    0.060071   0.621855  0.610602  0.522577
12  0.138108    0.652395   0.550535  0.915805  0.499362
13  0.405641    0.563971   0.447419  0.609059  0.063477
14  0.302882    0.955101   0.237781  0.268446  0.806542
15  0.734935    0.906870   0.486090  0.826164  0.959255
16  0.709647    0.749126   0.158026  0.916706  0.833787
17  0.780728    0.817317   0.195741  0.402313  0.145886
18  0.873286    0.867781   0.558083  0.380305  0.143873
19  0.316344    0.961232   0.235410  0.298539  0.876258

In [89]:
newdf2.head()

          0           1          2         3         4
0  0.823140  155.000000  55.000000  0.510768  0.528106
1  0.089772    0.412271   0.201249  0.658675  0.128951
2  0.128322    0.956903   0.980044  0.441398  0.176626
3  0.578627    0.370462   0.125295  0.292426  0.850412
4  0.886248    0.620872   0.204168  0.630107  0.454191

In [90]:
newdf.iloc[0,3] = 66

In [91]:
newdf.head()

          0           1          2          3         4
0  0.823140  155.000000  55.000000  66.000000  0.528106
1  0.089772    0.412271   0.201249   0.658675  0.128951
2  0.128322    0.956903   0.980044   0.441398  0.176626
3  0.578627    0.370462   0.125295   0.292426  0.850412
4  0.886248    0.620872   0.204168   0.630107  0.454191

In [92]:
newdf2.head()

          0           1          2          3         4
0  0.823140  155.000000  55.000000  66.000000  0.528106
1  0.089772    0.412271   0.201249   0.658675  0.128951
2  0.128322    0.956903   0.980044   0.441398  0.176626
3  0.578627    0.370462   0.125295   0.292426  0.850412
4  0.886248    0.620872   0.204168   0.630107  0.454191

In [93]:
newdf3 = newdf[:]

In [94]:
newdf.head()

          0           1          2          3         4
0  0.823140  155.000000  55.000000  66.000000  0.528106
1  0.089772    0.412271   0.201249   0.658675  0.128951
2  0.128322    0.956903   0.980044   0.441398  0.176626
3  0.578627    0.370462   0.125295   0.292426  0.850412
4  0.886248    0.620872   0.204168   0.630107  0.454191

In [95]:
newdf.iloc[1][0] = 12

In [96]:
newdf.head()

           0           1          2          3         4
0   0.823140  155.000000  55.000000  66.000000  0.528106
1  12.000000    0.412271   0.201249   0.658675  0.128951
2   0.128322    0.956903   0.980044   0.441398  0.176626
3   0.578627    0.370462   0.125295   0.292426  0.850412
4   0.886248    0.620872   0.204168   0.630107  0.454191

In [97]:
newdf3.head()

           0           1          2          3         4
0   0.823140  155.000000  55.000000  66.000000  0.528106
1  12.000000    0.412271   0.201249   0.658675  0.128951
2   0.128322    0.956903   0.980044   0.441398  0.176626
3   0.578627    0.370462   0.125295   0.292426  0.850412
4   0.886248    0.620872   0.204168   0.630107  0.454191

In [98]:
newdf4 = newdf.copy()

In [99]:
id(newdf)

2995138507152

In [100]:
id(newdf4)

2995150236880

In [101]:
newdf[1][1] = 99

In [102]:
newdf.head()

           0           1          2          3         4
0   0.823140  155.000000  55.000000  66.000000  0.528106
1  12.000000   99.000000   0.201249   0.658675  0.128951
2   0.128322    0.956903   0.980044   0.441398  0.176626
3   0.578627    0.370462   0.125295   0.292426  0.850412
4   0.886248    0.620872   0.204168   0.630107  0.454191

In [103]:
newdf4.head()

           0           1          2          3         4
0   0.823140  155.000000  55.000000  66.000000  0.528106
1  12.000000    0.412271   0.201249   0.658675  0.128951
2   0.128322    0.956903   0.980044   0.441398  0.176626
3   0.578627    0.370462   0.125295   0.292426  0.850412
4   0.886248    0.620872   0.204168   0.630107  0.454191

In [104]:
newdf

            0           1          2          3         4
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [105]:
newdf.loc[0][1]

155.0

In [106]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [107]:
newdf.columns = list("ABCDE")

In [108]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [109]:
newdf.loc[0]['B']

155.0

In [110]:
newdf.iloc[0][0]

C:\Users\Nishant Badhautiya\AppData\Local\Temp\ipykernel_12076\960085938.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  newdf.iloc[0][0]

0.8231398936065456

In [111]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [112]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [114]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [115]:
newdf.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [117]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [118]:
newdf.drop(0, axis = 0)

            A          B         C         D         E
1   12.000000  99.000000  0.201249  0.658675  0.128951
2    0.128322   0.956903  0.980044  0.441398  0.176626
3    0.578627   0.370462  0.125295  0.292426  0.850412
4    0.886248   0.620872  0.204168  0.630107  0.454191
5    0.402306   0.818984  0.626489  0.099584  0.811625
6    0.263734   0.139240  0.695278  0.766823  0.425911
7    0.645308   0.277678  0.895681  0.254816  0.249549
8    0.855703   0.686930  0.299925  0.757026  0.924151
9    0.350991   0.991251  0.681177  0.090021  0.272952
10   0.498998   0.194289  0.077538  0.818205  0.765018
11   0.738469   0.060071  0.621855  0.610602  0.522577
12   0.138108   0.652395  0.550535  0.915805  0.499362
13   0.405641   0.563971  0.447419  0.609059  0.063477
14   0.302882   0.955101  0.237781  0.268446  0.806542
15   0.734935   0.906870  0.486090  0.826164  0.959255
16   0.709647   0.749126  0.158026  0.916706  0.833787
17   0.780728   0.817317  0.195741  0.402313  0.145886
18   0.873286   0.867781  0.558083  0.380305  0.143873
19   0.316344   0.961232  0.235410  0.298539  0.876258

In [119]:
newdf.drop([1,2,3], axis = 0)

           A           B          C          D         E
0   0.823140  155.000000  55.000000  66.000000  0.528106
4   0.886248    0.620872   0.204168   0.630107  0.454191
5   0.402306    0.818984   0.626489   0.099584  0.811625
6   0.263734    0.139240   0.695278   0.766823  0.425911
7   0.645308    0.277678   0.895681   0.254816  0.249549
8   0.855703    0.686930   0.299925   0.757026  0.924151
9   0.350991    0.991251   0.681177   0.090021  0.272952
10  0.498998    0.194289   0.077538   0.818205  0.765018
11  0.738469    0.060071   0.621855   0.610602  0.522577
12  0.138108    0.652395   0.550535   0.915805  0.499362
13  0.405641    0.563971   0.447419   0.609059  0.063477
14  0.302882    0.955101   0.237781   0.268446  0.806542
15  0.734935    0.906870   0.486090   0.826164  0.959255
16  0.709647    0.749126   0.158026   0.916706  0.833787
17  0.780728    0.817317   0.195741   0.402313  0.145886
18  0.873286    0.867781   0.558083   0.380305  0.143873
19  0.316344    0.961232   0.235410   0.298539  0.876258

In [121]:
newdf.drop(['A', 'B'], axis = 1)

            C          D         E
0   55.000000  66.000000  0.528106
1    0.201249   0.658675  0.128951
2    0.980044   0.441398  0.176626
3    0.125295   0.292426  0.850412
4    0.204168   0.630107  0.454191
5    0.626489   0.099584  0.811625
6    0.695278   0.766823  0.425911
7    0.895681   0.254816  0.249549
8    0.299925   0.757026  0.924151
9    0.681177   0.090021  0.272952
10   0.077538   0.818205  0.765018
11   0.621855   0.610602  0.522577
12   0.550535   0.915805  0.499362
13   0.447419   0.609059  0.063477
14   0.237781   0.268446  0.806542
15   0.486090   0.826164  0.959255
16   0.158026   0.916706  0.833787
17   0.195741   0.402313  0.145886
18   0.558083   0.380305  0.143873
19   0.235410   0.298539  0.876258

In [123]:
newdf.loc[[1,2]]

           A          B         C         D         E
1  12.000000  99.000000  0.201249  0.658675  0.128951
2   0.128322   0.956903  0.980044  0.441398  0.176626

In [127]:
newdf.loc[[1,2,3], ['A', 'B']]

           A          B
1  12.000000  99.000000
2   0.128322   0.956903
3   0.578627   0.370462

In [128]:
newdf.loc[:, ['A', 'B']]

            A           B
0    0.823140  155.000000
1   12.000000   99.000000
2    0.128322    0.956903
3    0.578627    0.370462
4    0.886248    0.620872
5    0.402306    0.818984
6    0.263734    0.139240
7    0.645308    0.277678
8    0.855703    0.686930
9    0.350991    0.991251
10   0.498998    0.194289
11   0.738469    0.060071
12   0.138108    0.652395
13   0.405641    0.563971
14   0.302882    0.955101
15   0.734935    0.906870
16   0.709647    0.749126
17   0.780728    0.817317
18   0.873286    0.867781
19   0.316344    0.961232

In [129]:
newdf.loc[[1,2,3], :]

           A          B         C         D         E
1  12.000000  99.000000  0.201249  0.658675  0.128951
2   0.128322   0.956903  0.980044  0.441398  0.176626
3   0.578627   0.370462  0.125295  0.292426  0.850412

In [130]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [135]:
newdf.loc[(newdf['A'] > 0.8)]

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
4    0.886248    0.620872   0.204168   0.630107  0.454191
8    0.855703    0.686930   0.299925   0.757026  0.924151
18   0.873286    0.867781   0.558083   0.380305  0.143873

In [141]:
newdf.loc[(newdf['A'] > 0.5) & (newdf['A'] < 0.8)]

           A         B         C         D         E
3   0.578627  0.370462  0.125295  0.292426  0.850412
7   0.645308  0.277678  0.895681  0.254816  0.249549
11  0.738469  0.060071  0.621855  0.610602  0.522577
15  0.734935  0.906870  0.486090  0.826164  0.959255
16  0.709647  0.749126  0.158026  0.916706  0.833787
17  0.780728  0.817317  0.195741  0.402313  0.145886

In [143]:
newdf.loc[(newdf['A'] <= 0.5)]

           A         B         C         D         E
2   0.128322  0.956903  0.980044  0.441398  0.176626
5   0.402306  0.818984  0.626489  0.099584  0.811625
6   0.263734  0.139240  0.695278  0.766823  0.425911
9   0.350991  0.991251  0.681177  0.090021  0.272952
10  0.498998  0.194289  0.077538  0.818205  0.765018
12  0.138108  0.652395  0.550535  0.915805  0.499362
13  0.405641  0.563971  0.447419  0.609059  0.063477
14  0.302882  0.955101  0.237781  0.268446  0.806542
19  0.316344  0.961232  0.235410  0.298539  0.876258

In [146]:
newdf.iloc[:, [1,2]]

             B          C
0   155.000000  55.000000
1    99.000000   0.201249
2     0.956903   0.980044
3     0.370462   0.125295
4     0.620872   0.204168
5     0.818984   0.626489
6     0.139240   0.695278
7     0.277678   0.895681
8     0.686930   0.299925
9     0.991251   0.681177
10    0.194289   0.077538
11    0.060071   0.621855
12    0.652395   0.550535
13    0.563971   0.447419
14    0.955101   0.237781
15    0.906870   0.486090
16    0.749126   0.158026
17    0.817317   0.195741
18    0.867781   0.558083
19    0.961232   0.235410

In [147]:
newdf

            A           B          C          D         E
0    0.823140  155.000000  55.000000  66.000000  0.528106
1   12.000000   99.000000   0.201249   0.658675  0.128951
2    0.128322    0.956903   0.980044   0.441398  0.176626
3    0.578627    0.370462   0.125295   0.292426  0.850412
4    0.886248    0.620872   0.204168   0.630107  0.454191
5    0.402306    0.818984   0.626489   0.099584  0.811625
6    0.263734    0.139240   0.695278   0.766823  0.425911
7    0.645308    0.277678   0.895681   0.254816  0.249549
8    0.855703    0.686930   0.299925   0.757026  0.924151
9    0.350991    0.991251   0.681177   0.090021  0.272952
10   0.498998    0.194289   0.077538   0.818205  0.765018
11   0.738469    0.060071   0.621855   0.610602  0.522577
12   0.138108    0.652395   0.550535   0.915805  0.499362
13   0.405641    0.563971   0.447419   0.609059  0.063477
14   0.302882    0.955101   0.237781   0.268446  0.806542
15   0.734935    0.906870   0.486090   0.826164  0.959255
16   0.709647    0.749126   0.158026   0.916706  0.833787
17   0.780728    0.817317   0.195741   0.402313  0.145886
18   0.873286    0.867781   0.558083   0.380305  0.143873
19   0.316344    0.961232   0.235410   0.298539  0.876258

In [148]:
newdf.drop(0)

            A          B         C         D         E
1   12.000000  99.000000  0.201249  0.658675  0.128951
2    0.128322   0.956903  0.980044  0.441398  0.176626
3    0.578627   0.370462  0.125295  0.292426  0.850412
4    0.886248   0.620872  0.204168  0.630107  0.454191
5    0.402306   0.818984  0.626489  0.099584  0.811625
6    0.263734   0.139240  0.695278  0.766823  0.425911
7    0.645308   0.277678  0.895681  0.254816  0.249549
8    0.855703   0.686930  0.299925  0.757026  0.924151
9    0.350991   0.991251  0.681177  0.090021  0.272952
10   0.498998   0.194289  0.077538  0.818205  0.765018
11   0.738469   0.060071  0.621855  0.610602  0.522577
12   0.138108   0.652395  0.550535  0.915805  0.499362
13   0.405641   0.563971  0.447419  0.609059  0.063477
14   0.302882   0.955101  0.237781  0.268446  0.806542
15   0.734935   0.906870  0.486090  0.826164  0.959255
16   0.709647   0.749126  0.158026  0.916706  0.833787
17   0.780728   0.817317  0.195741  0.402313  0.145886
18   0.873286   0.867781  0.558083  0.380305  0.143873
19   0.316344   0.961232  0.235410  0.298539  0.876258

In [151]:
newdf.drop(['A', 'B'], axis = 1)

            C          D         E
0   55.000000  66.000000  0.528106
1    0.201249   0.658675  0.128951
2    0.980044   0.441398  0.176626
3    0.125295   0.292426  0.850412
4    0.204168   0.630107  0.454191
5    0.626489   0.099584  0.811625
6    0.695278   0.766823  0.425911
7    0.895681   0.254816  0.249549
8    0.299925   0.757026  0.924151
9    0.681177   0.090021  0.272952
10   0.077538   0.818205  0.765018
11   0.621855   0.610602  0.522577
12   0.550535   0.915805  0.499362
13   0.447419   0.609059  0.063477
14   0.237781   0.268446  0.806542
15   0.486090   0.826164  0.959255
16   0.158026   0.916706  0.833787
17   0.195741   0.402313  0.145886
18   0.558083   0.380305  0.143873
19   0.235410   0.298539  0.876258

In [152]:
newdf.drop([1,2,5,7,12], axis = 0, inplace = True)

In [153]:
newdf

           A           B          C          D         E
0   0.823140  155.000000  55.000000  66.000000  0.528106
3   0.578627    0.370462   0.125295   0.292426  0.850412
4   0.886248    0.620872   0.204168   0.630107  0.454191
6   0.263734    0.139240   0.695278   0.766823  0.425911
8   0.855703    0.686930   0.299925   0.757026  0.924151
9   0.350991    0.991251   0.681177   0.090021  0.272952
10  0.498998    0.194289   0.077538   0.818205  0.765018
11  0.738469    0.060071   0.621855   0.610602  0.522577
13  0.405641    0.563971   0.447419   0.609059  0.063477
14  0.302882    0.955101   0.237781   0.268446  0.806542
15  0.734935    0.906870   0.486090   0.826164  0.959255
16  0.709647    0.749126   0.158026   0.916706  0.833787
17  0.780728    0.817317   0.195741   0.402313  0.145886
18  0.873286    0.867781   0.558083   0.380305  0.143873
19  0.316344    0.961232   0.235410   0.298539  0.876258

In [154]:
newdf.reset_index()

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [155]:
newdf

           A           B          C          D         E
0   0.823140  155.000000  55.000000  66.000000  0.528106
3   0.578627    0.370462   0.125295   0.292426  0.850412
4   0.886248    0.620872   0.204168   0.630107  0.454191
6   0.263734    0.139240   0.695278   0.766823  0.425911
8   0.855703    0.686930   0.299925   0.757026  0.924151
9   0.350991    0.991251   0.681177   0.090021  0.272952
10  0.498998    0.194289   0.077538   0.818205  0.765018
11  0.738469    0.060071   0.621855   0.610602  0.522577
13  0.405641    0.563971   0.447419   0.609059  0.063477
14  0.302882    0.955101   0.237781   0.268446  0.806542
15  0.734935    0.906870   0.486090   0.826164  0.959255
16  0.709647    0.749126   0.158026   0.916706  0.833787
17  0.780728    0.817317   0.195741   0.402313  0.145886
18  0.873286    0.867781   0.558083   0.380305  0.143873
19  0.316344    0.961232   0.235410   0.298539  0.876258

In [156]:
newdf.reset_index(inplace = True)

In [157]:
newdf

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [158]:
newdf.reset_index(drop = True)

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [159]:
newdf

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [160]:
newdf

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [161]:
newdf

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [167]:
newdf.loc[[0], ['index']]

   index
0      0

In [168]:
newdf.reset_index(drop = True)

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [169]:
newdf

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [170]:
newdf

    index         A           B          C          D         E
0       0  0.823140  155.000000  55.000000  66.000000  0.528106
1       3  0.578627    0.370462   0.125295   0.292426  0.850412
2       4  0.886248    0.620872   0.204168   0.630107  0.454191
3       6  0.263734    0.139240   0.695278   0.766823  0.425911
4       8  0.855703    0.686930   0.299925   0.757026  0.924151
5       9  0.350991    0.991251   0.681177   0.090021  0.272952
6      10  0.498998    0.194289   0.077538   0.818205  0.765018
7      11  0.738469    0.060071   0.621855   0.610602  0.522577
8      13  0.405641    0.563971   0.447419   0.609059  0.063477
9      14  0.302882    0.955101   0.237781   0.268446  0.806542
10     15  0.734935    0.906870   0.486090   0.826164  0.959255
11     16  0.709647    0.749126   0.158026   0.916706  0.833787
12     17  0.780728    0.817317   0.195741   0.402313  0.145886
13     18  0.873286    0.867781   0.558083   0.380305  0.143873
14     19  0.316344    0.961232   0.235410   0.298539  0.876258

In [171]:
newdf.isnull()

    index      A      B      C      D      E
0   False  False  False  False  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False  False  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False  False  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False
12  False  False  False  False  False  False
13  False  False  False  False  False  False
14  False  False  False  False  False  False

In [175]:
newdf[['A', 'B','C']].isnull()

        A      B      C
0   False  False  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False  False  False
9   False  False  False
10  False  False  False
11  False  False  False
12  False  False  False
13  False  False  False
14  False  False  False

In [228]:
df = pd.DataFrame({"name":['Alfred', 'Batman', 'Catwoman'],
                   "toy" : [np.nan, 'Batmobile', 'Bullwhip'], 
                   "born" : [pd.NaT, pd.Timestamp("1940-04-25"), pd.NaT]})

In [223]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [178]:
df.isnull()

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

In [181]:
df.dropna(how = 'any')

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [200]:
df.dropna(how = 'all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [201]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [202]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [205]:
df.loc[1,2] = None

In [206]:
df

       name        toy       born   2
0    Alfred        NaN        NaT NaN
1    Batman  Batmobile 1940-04-25 NaN
2  Catwoman   Bullwhip        NaT NaN

In [211]:
df.dropna(how = 'all', axis = 1, inplace = True)

In [212]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [213]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [214]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [215]:
df.dropna(how = 'all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [216]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [217]:
df.dropna(how = 'any')

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [218]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [219]:
df[1,2] = None

In [220]:
df

       name        toy       born (1, 2)
0    Alfred        NaN        NaT   None
1    Batman  Batmobile 1940-04-25   None
2  Catwoman   Bullwhip        NaT   None

In [221]:
df

       name        toy       born (1, 2)
0    Alfred        NaN        NaT   None
1    Batman  Batmobile 1940-04-25   None
2  Catwoman   Bullwhip        NaT   None

In [224]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [225]:
df[[0,1]] = None

In [226]:
df

       name        toy       born     0     1
0    Alfred        NaN        NaT  None  None
1    Batman  Batmobile 1940-04-25  None  None
2  Catwoman   Bullwhip        NaT  None  None

In [227]:
df

       name        toy       born     0     1
0    Alfred        NaN        NaT  None  None
1    Batman  Batmobile 1940-04-25  None  None
2  Catwoman   Bullwhip        NaT  None  None

In [229]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [232]:
df.iloc[[1,2]] = None

In [233]:
df

     name   toy born
0  Alfred   NaN  NaT
1    None  None  NaT
2    None  None  NaT

In [257]:
df = pd.DataFrame({"name":['Alfred', 'Batman', 'Catwoman'],
                   "toy" : [np.nan, 'Batmobile', 'Bullwhip'], 
                   "born" : [pd.NaT, pd.Timestamp("1940-04-25"), pd.NaT]})

In [235]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [244]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [250]:
df.iloc[1, 2] = None

In [251]:
df

       name        toy born
0    Alfred        NaN  NaT
1    Batman  Batmobile  NaT
2  Catwoman   Bullwhip  NaT

In [254]:
df.dropna(how = 'all', axis = 1, inplace = True)

In [255]:
df

       name        toy
0    Alfred        NaN
1    Batman  Batmobile
2  Catwoman   Bullwhip

In [256]:
df

       name        toy
0    Alfred        NaN
1    Batman  Batmobile
2  Catwoman   Bullwhip

In [258]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [259]:
df.drop_duplicates()

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [260]:
df.drop_duplicates()

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [262]:
df.iloc[1,0]  = 'Alfred'

In [263]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Alfred  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [270]:
df.drop_duplicates(subset = 'name', keep = False)

       name       toy born
2  Catwoman  Bullwhip  NaT

In [271]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Alfred  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [276]:
df.value_counts(subset = 'name', sort = True)

name
Alfred      2
Catwoman    1
Name: count, dtype: int64

In [280]:
df.value_counts(dropna = False)

name      toy        born
Alfred    Batmobile  1940-04-25    1
          NaN        NaT           1
Catwoman  Bullwhip   NaT           1
Name: count, dtype: int64