In [1]:
import numpy as np 
import pandas as pd

In [4]:
ser = pd.Series(np.random.rand(100))

In [5]:
ser

0     0.630759
1     0.399915
2     0.551844
3     0.633386
4     0.154106
        ...
95    0.694905
96    0.832866
97    0.405498
98    0.407329
99    0.289378
Length: 100, dtype: float64

In [6]:
type(ser)

pandas.core.series.Series

In [7]:
ser[2]

0.5518444984579222

In [10]:
df = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
df

            0         1         2         3         4
0    0.391250  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330  0.132110  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [11]:
df.head()

          0         1         2         3         4
0  0.391250  0.283555  0.417688  0.147041  0.709495
1  0.542525  0.767646  0.871172  0.936288  0.623473
2  0.988282  0.913951  0.892129  0.359594  0.694574
3  0.688927  0.462553  0.885599  0.323422  0.205959
4  0.243241  0.098030  0.517515  0.961827  0.842668

In [12]:
df.tail()

            0         1         2         3         4
329  0.361538  0.744903  0.777423  0.274811  0.802093
330  0.132110  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.485872    0.490172    0.513650    0.505297    0.508724
std      0.282164    0.290654    0.282892    0.287955    0.279068
min      0.007290    0.001044    0.001941    0.000005    0.000678
25%      0.231695    0.254090    0.273346    0.274647    0.281732
50%      0.503552    0.460379    0.526772    0.487037    0.511934
75%      0.717860    0.751013    0.739818    0.761720    0.714480
max      0.998947    0.999879    0.997550    0.999213    0.996672

In [15]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [16]:
df[0][0] = "Nishant"

In [17]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [18]:
df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [19]:
df.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [20]:
df.head(4)

          0         1         2         3         4
0   Nishant  0.283555  0.417688  0.147041  0.709495
1  0.542525  0.767646  0.871172  0.936288  0.623473
2  0.988282  0.913951  0.892129  0.359594  0.694574
3  0.688927  0.462553  0.885599  0.323422  0.205959

In [21]:
df.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [22]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [23]:
df.to_numpy()

array([['Nishant', 0.2835545298847423, 0.4176881283198618,
        0.147040908647726, 0.7094950072728495],
       [0.5425247341095936, 0.7676460435678172, 0.8711722568791415,
        0.9362884768806614, 0.6234729564380722],
       [0.9882816166153344, 0.9139506046191775, 0.8921290386961929,
        0.3595938651501511, 0.6945740965494687],
       ...,
       [0.4511877894762849, 0.41748088806032646, 0.8278706898712558,
        0.7323044425324339, 0.12221403734283687],
       [0.364020989826334, 0.35259095303550136, 0.23250570159701023,
        0.8357080258148157, 0.31229079895678524],
       [0.6321851114260738, 0.7380974829355428, 0.306998743135229,
        0.09199709906744424, 0.2834334641855505]], dtype=object)

In [24]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [25]:
df[0][0] = 1.3124539

In [26]:
df

            0         1         2         3         4
0    1.312454  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [29]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,1.312454,0.542525,0.988282,0.688927,0.243241,0.589014,0.624935,0.565795,0.898069,0.448032,...,0.18569,0.517337,0.021483,0.54712,0.523699,0.361538,0.13211,0.451188,0.364021,0.632185
1,0.283555,0.767646,0.913951,0.462553,0.09803,0.656152,0.534522,0.191835,0.142335,0.045014,...,0.068019,0.256195,0.123535,0.166972,0.363088,0.744903,0.082236,0.417481,0.352591,0.738097
2,0.417688,0.871172,0.892129,0.885599,0.517515,0.066117,0.630035,0.035495,0.60796,0.99755,...,0.089164,0.186154,0.427212,0.170673,0.978045,0.777423,0.38923,0.827871,0.232506,0.306999
3,0.147041,0.936288,0.359594,0.323422,0.961827,0.526552,0.295274,0.439459,0.487429,0.115287,...,0.492013,0.829592,0.231374,0.517614,0.945477,0.274811,0.397841,0.732304,0.835708,0.091997
4,0.709495,0.623473,0.694574,0.205959,0.842668,0.11801,0.600281,0.175036,0.93464,0.939711,...,0.192216,0.856509,0.710336,0.67092,0.39493,0.802093,0.512996,0.122214,0.312291,0.283433

In [31]:
df.sort_index(ascending=False)

            0         1         2         3         4
333  0.632185  0.738097  0.306999  0.091997  0.283433
332  0.364021  0.352591  0.232506  0.835708  0.312291
331  0.451188  0.417481  0.827871  0.732304  0.122214
330   0.13211  0.082236  0.389230  0.397841  0.512996
329  0.361538  0.744903  0.777423  0.274811  0.802093
..        ...       ...       ...       ...       ...
4    0.243241  0.098030  0.517515  0.961827  0.842668
3    0.688927  0.462553  0.885599  0.323422  0.205959
2    0.988282  0.913951  0.892129  0.359594  0.694574
1    0.542525  0.767646  0.871172  0.936288  0.623473
0    1.312454  0.283555  0.417688  0.147041  0.709495

[334 rows x 5 columns]

In [35]:
df[1].sort_values(ascending=False)

217    0.999879
319    0.998184
165    0.995594
292    0.993355
281    0.988465
         ...
205    0.008261
225    0.002683
267    0.002266
280    0.001956
178    0.001044
Name: 1, Length: 334, dtype: float64

In [41]:
df.sort_index(axis=0, ascending=False)

            0         1         2         3         4
333  0.632185  0.738097  0.306999  0.091997  0.283433
332  0.364021  0.352591  0.232506  0.835708  0.312291
331  0.451188  0.417481  0.827871  0.732304  0.122214
330   0.13211  0.082236  0.389230  0.397841  0.512996
329  0.361538  0.744903  0.777423  0.274811  0.802093
..        ...       ...       ...       ...       ...
4    0.243241  0.098030  0.517515  0.961827  0.842668
3    0.688927  0.462553  0.885599  0.323422  0.205959
2    0.988282  0.913951  0.892129  0.359594  0.694574
1    0.542525  0.767646  0.871172  0.936288  0.623473
0    1.312454  0.283555  0.417688  0.147041  0.709495

[334 rows x 5 columns]

In [43]:
df.sort_index(axis=1, ascending=False)

            4         3         2         1         0
0    0.709495  0.147041  0.417688  0.283555  1.312454
1    0.623473  0.936288  0.871172  0.767646  0.542525
2    0.694574  0.359594  0.892129  0.913951  0.988282
3    0.205959  0.323422  0.885599  0.462553  0.688927
4    0.842668  0.961827  0.517515  0.098030  0.243241
..        ...       ...       ...       ...       ...
329  0.802093  0.274811  0.777423  0.744903  0.361538
330  0.512996  0.397841  0.389230  0.082236   0.13211
331  0.122214  0.732304  0.827871  0.417481  0.451188
332  0.312291  0.835708  0.232506  0.352591  0.364021
333  0.283433  0.091997  0.306999  0.738097  0.632185

[334 rows x 5 columns]

In [44]:
df

            0         1         2         3         4
0    1.312454  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [47]:
type(df[1])

pandas.core.series.Series

In [69]:
arr = np.array([[24,2,13], [4,15,6]])
arr

array([[24,  2, 13],
       [ 4, 15,  6]])

In [75]:
arr.argsort(axis=1)

array([[1, 2, 0],
       [0, 2, 1]])

In [76]:
df

            0         1         2         3         4
0    1.312454  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [77]:
df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [78]:
df2 = df # creates a shallow copy of df

In [79]:
df

            0         1         2         3         4
0    1.312454  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [80]:
df2

            0         1         2         3         4
0    1.312454  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [81]:
df[0][0] = "Nishant"

/tmp/ipykernel_17495/489883285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0][0] = "Nishant"

In [82]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [83]:
df2

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [84]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [85]:
df2

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [86]:
df3 = df

In [87]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [88]:
df3

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [89]:
df[0][0] = "Hello"

/tmp/ipykernel_17495/3796668755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0][0] = "Hello"

In [90]:
df

            0         1         2         3         4
0       Hello  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [91]:
df3

            0         1         2         3         4
0       Hello  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [92]:
df4 = df.copy()

In [93]:
df

            0         1         2         3         4
0       Hello  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [94]:
df4

            0         1         2         3         4
0       Hello  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [95]:
df[0][0] = "Nishant"

/tmp/ipykernel_17495/489883285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0][0] = "Nishant"

In [96]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [97]:
df4

            0         1         2         3         4
0       Hello  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [98]:
df5 = df[:]

In [99]:
df

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [100]:
df5

            0         1         2         3         4
0     Nishant  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [101]:
df[0][0] = 1.233423

/tmp/ipykernel_17495/2277626454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0][0] = 1.233423

In [102]:
df

            0         1         2         3         4
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [103]:
df5

            0         1         2         3         4
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [104]:
df

            0         1         2         3         4
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [105]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [106]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [107]:
df.columns = list('ABCDE')

In [108]:
df

            A         B         C         D         E
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [109]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [110]:
df

            A         B         C         D         E
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [118]:
df.loc[[0, 1, 2, 3], ['A', 'B', 'C']]

          A         B         C
0  1.233423  0.283555  0.417688
1  0.542525  0.767646  0.871172
2  0.988282  0.913951  0.892129
3  0.688927  0.462553  0.885599

In [119]:
df

            A         B         C         D         E
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [120]:
df.loc[[x for x in range(0, 11) if x >= 5] , list('ABC')]

           A         B         C
5   0.589014  0.656152  0.066117
6   0.624935  0.534522  0.630035
7   0.565795  0.191835  0.035495
8   0.898069  0.142335  0.607960
9   0.448032  0.045014  0.997550
10  0.470744  0.659359  0.833545

In [122]:
df.loc[0, 0] = 344

In [123]:
df

            A         B         C         D         E      0
0    1.233423  0.283555  0.417688  0.147041  0.709495  344.0
1    0.542525  0.767646  0.871172  0.936288  0.623473    NaN
2    0.988282  0.913951  0.892129  0.359594  0.694574    NaN
3    0.688927  0.462553  0.885599  0.323422  0.205959    NaN
4    0.243241  0.098030  0.517515  0.961827  0.842668    NaN
..        ...       ...       ...       ...       ...    ...
329  0.361538  0.744903  0.777423  0.274811  0.802093    NaN
330   0.13211  0.082236  0.389230  0.397841  0.512996    NaN
331  0.451188  0.417481  0.827871  0.732304  0.122214    NaN
332  0.364021  0.352591  0.232506  0.835708  0.312291    NaN
333  0.632185  0.738097  0.306999  0.091997  0.283433    NaN

[334 rows x 6 columns]

In [137]:
df = df.drop(columns=0)

In [138]:
df

            A         B         C         D         E
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [139]:
df.drop(columns='A', axis=1)

            B         C         D         E
0    0.283555  0.417688  0.147041  0.709495
1    0.767646  0.871172  0.936288  0.623473
2    0.913951  0.892129  0.359594  0.694574
3    0.462553  0.885599  0.323422  0.205959
4    0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...
329  0.744903  0.777423  0.274811  0.802093
330  0.082236  0.389230  0.397841  0.512996
331  0.417481  0.827871  0.732304  0.122214
332  0.352591  0.232506  0.835708  0.312291
333  0.738097  0.306999  0.091997  0.283433

[334 rows x 4 columns]

In [140]:
df

            A         B         C         D         E
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [141]:
df.drop(['A', 'B', 'C'] , axis= 1)

            D         E
0    0.147041  0.709495
1    0.936288  0.623473
2    0.359594  0.694574
3    0.323422  0.205959
4    0.961827  0.842668
..        ...       ...
329  0.274811  0.802093
330  0.397841  0.512996
331  0.732304  0.122214
332  0.835708  0.312291
333  0.091997  0.283433

[334 rows x 2 columns]

In [142]:
df

            A         B         C         D         E
0    1.233423  0.283555  0.417688  0.147041  0.709495
1    0.542525  0.767646  0.871172  0.936288  0.623473
2    0.988282  0.913951  0.892129  0.359594  0.694574
3    0.688927  0.462553  0.885599  0.323422  0.205959
4    0.243241  0.098030  0.517515  0.961827  0.842668
..        ...       ...       ...       ...       ...
329  0.361538  0.744903  0.777423  0.274811  0.802093
330   0.13211  0.082236  0.389230  0.397841  0.512996
331  0.451188  0.417481  0.827871  0.732304  0.122214
332  0.364021  0.352591  0.232506  0.835708  0.312291
333  0.632185  0.738097  0.306999  0.091997  0.283433

[334 rows x 5 columns]

In [151]:
df.loc[(df['A'] > 0.8)].head()

           A         B         C         D         E
0   1.233423  0.283555  0.417688  0.147041  0.709495
2   0.988282  0.913951  0.892129  0.359594  0.694574
8   0.898069  0.142335  0.607960  0.487429  0.934640
15  0.857458  0.884756  0.948123  0.868856  0.490137
16  0.948013  0.583321  0.574943  0.545942  0.626147

In [153]:
df.loc[[1,2]]

          A         B         C         D         E
1  0.542525  0.767646  0.871172  0.936288  0.623473
2  0.988282  0.913951  0.892129  0.359594  0.694574

In [163]:
df.loc[((df['A'] > 0.7) & (df['A'] < 0.8))].head()

           A         B         C         D         E
12  0.704967  0.549115  0.089920  0.261692  0.360045
19  0.727561  0.298344  0.618273  0.844641  0.706294
24  0.735343  0.811294  0.393612  0.056334  0.695107
27   0.76166  0.857973  0.679062  0.473692  0.434600
29  0.743529  0.759885  0.168180  0.085936  0.548694

In [165]:
x = [x for x in range(100) if x > 50 and x % 2 == 0] 
print(x)
print(type(x))

[52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
<class 'list'>